[user]
	email = jgrosso256@gmail.com
	name = Joshua Grosso
	signingKey = 33AFADEAC8DD90EE55C5EA9E929BCDF834EC4B47
[alias]
	co = checkout
	cm = commit -am
	br = branch
	st = status
	amend = commit -a --amend --no-edit
	forcepush = push --force
	wipe = reset --hard HEAD
	tree = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
[push]
	default = simple
[core]
	editor = vim
[rerere]
	enabled = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[commit]
	gpgSign = true
[tag]
	forceSignAnnotated = true
[gpg]
	program = /usr/local/Cellar/gnupg/2.2.20/bin/gpg
