[user]
	email = jgrosso1@asu.edu
	name = Joshua Grosso
[alias]
	co = checkout
	cm = commit -am
	br = branch
	st = status
	amend = commit -a --amend --no-edit
	forcepush = push --force
	wipe = reset --hard HEAD
[push]
	default = simple
[core]
	editor = vim
