[user]
	email = joshuag@axosoft.com
	name = Joshua Grosso
[alias]
  amend = commit -a --amend --no-edit --reset-author
	br = branch
	co = checkout
	cm = commit -am
  forcepush = push --force
	st = status
[push]
	default = simple
[core]
	editor = vim
